<section layout="row">
  <md-sidenav class="md-sidenav-left md-whiteframe-z2"
              md-component-id="methods"
              md-is-locked-open="$mdMedia('min-width: 1024px')"
              style="height: 93vh;">
    <md-content>
      <md-toolbar md-scroll-shrink class="md-theme-indigo md-accent">
        <div class="md-toolbar-tools">
          <h3>Methods</h3>
          <span flex></span>
          <md-button class="md-icon-button"
                     style="font-size: 24px;"
                     ng-click="home.collapseToggle()">
            <i ng-if="!home.collapseMethods" class="mdi mdi-plus"></i>
            <i ng-if="home.collapseMethods" class="mdi mdi-minus"></i>
            <md-tooltip>
              Expand/collapse methods
            </md-tooltip>
          </md-button>
        </div>
      </md-toolbar>
    </md-content>
    <md-content flex>
      <ate-tfe-class select="home.selectMethod(method)" collapse="{{ home.collapseMethods }}"></ate-tfe-class>
    </md-content>
  </md-sidenav>
  <md-content flex>
    <ate-tfe-method-params selected="home.selectedMethod"
                           on-execute="self.execute(executionInfo)">
    </ate-tfe-method-params>
    <md-content ng-show="home.executionResults.length > 0"
                style="padding: 5px; padding-bottom: 0; margin-bottom: 0;"
                layout="column">
      <div layout="row" layout-align="space-between center">
        <md-input-container flex>
          <label>Search results</label>
          <input ng-model="home.results_query">
        </md-input-container>
        <span></span>
        <md-button style="font-size: 24px;"
                   class="md-warn"
                   ng-click="home.cleanHistory()">
          <md-icon class="mdi mdi-delete-variant"></md-icon>
          <md-tooltip>
            Clear <results></results>
          </md-tooltip>
        </md-button>
      </div>
    </md-content>
    <md-content flex
                ng-if="home.executionResults.length > 0">
      <div layout="column">
        <ate-tfe-result result="result"
                        index="{{ home.executionResults.length - $index }}"
                        ng-repeat="result in home.executionResults | filter : home.results_query | orderBy : '-time'">
        </ate-tfe-result>
      </div>
    </md-content>
  </md-content>
</section>