<section layout="row">
  <md-sidenav class="md-sidenav-left md-whiteframe-z2"
              md-component-id="left"
              md-is-locked-open="$mdMedia('min-width: 1024px')"
              style="height: 93vh;">
    <md-content>
      <md-toolbar md-scroll-shrink class="md-accent">
        <div class="md-toolbar-tools">
          <h3>Methods</h3>
        </div>
      </md-toolbar>
    </md-content>
    <md-content flex>
      <section ng-repeat="class in home.methods.list">
        <md-subheader class="md-primary">{{ class.description }} - {{ class.class | uppercase }}</md-subheader>
        <md-list>
          <md-list-item class="md-3-line"
                        ng-click="home.methodSelected(method)"
                        ng-repeat="method in class.methods">
            <div style="padding-top: 5px; padding-bottom: 5px;">
              <div style="line-height: normal;">
                <strong style="font-size: small;">{{ method.name }}</strong>
              </div>
              <div style="line-height: normal;"
                   ng-repeat="param in method.params">
                <i style="font-size: smaller;">{{ param.logic_name }}</i>
              </div>
            </div>
          </md-list-item>
          <md-divider></md-divider>
        </md-list>
      </section>
    </md-content>
  </md-sidenav>
  <md-content flex>
    <md-card flex
             class="md-whiteframe-z1"
             style="overflow: auto;">
      <md-card-content ng-show="home.selectedMethod == null">


        <h2 layout="row" layout-align="center center">Select method on the left!!!</h2>
        <br>
        <br>
        <br>
        <md-icon style="font-size: 24px;" class="mdi mdi-arrow-left"></md-icon>
      </md-card-content>
      <md-card-content style="padding: 5px;" ng-show="home.selectedMethod != null">
        <div layout="row">
          <md-content flex layout-padding>


            <h4 style="margin-top: 5px; margin-bottom: 5px;">
              {{ home.selectedMethod.name }}
              <i>(<span ng-repeat="param in home.selectedMethod.params"
                        style="font-size: 14px; font-weight: lighter; color: indigo">{{ param.logic_name }}<span
                ng-if="$index < (home.selectedMethod.params.length - 1)">, </span></span>)
              </i>
            </h4>

            <div class="md-warn" ng-show="home.selectedMethod.doc == null">
              Doc string missing!!!
            </div>
            <h5 style="white-space: pre-line; font-weight: normal; margin-top: 5px; margin-bottom: 5px;">
              {{ home.selectedMethod.doc }}
            </h5>
          </md-content>
          <md-content flex layout-padding>
            <h4 style="margin-top: 5px; margin-bottom: 5px;">Parameters:</h4>
            <md-input-container style="padding-bottom: 10px;" ng-repeat="param in home.selectedMethod.params">

              <label ng-if="!(param.type == 'bool' || param.logic_name == 'cavity')">{{ param.name }}</label>
              <md-checkbox ng-if="(param.type == 'bool')" ng-model="param.value">
                {{ param.name }}
              </md-checkbox>
              <input type="number" ng-if="(param.type == 'int' || param.type == 'float')"
                     required name="Parameter value" ng-model="param.value">
              <input type="text"
                     ng-if="!(param.type == 'int' ||
                        param.type == 'float' ||
                        param.type == 'bool' ||
                        param.logic_name == 'cavity')"
                     required name="Parameter value" ng-model="param.value">
              <md-select ng-if="param.logic_name == 'cavity'"
                         placeholder="{{ param.name }}"
                         ng-model="param.value">
                <md-option ng-repeat="cavity in home.activeCavitiesList.list"
                           value="{{ cavity }}">{{ cavity }}
                </md-option>
              </md-select>
              <div ng-messages="home.checkParam(param)">
                <div ng-message="required">{{ home.param.error }}</div>
              </div>
            </md-input-container>
          </md-content>
          <md-button md-no-ink class="md-primary" ng-disabled="home.executing"
                     ng-click="home.execute(home.selectedMethod)">
            <strong ng-if="!home.isExecuting()" style="font-size: 32px;">GO</strong>
            <md-progress-circular ng-if="home.isExecuting()" class="md-warn"
                                  md-mode="indeterminate"></md-progress-circular>
          </md-button>
        </div>
      </md-card-content>
    </md-card>
    <md-content
      style="padding: 5px; padding-bottom: 0; margin-bottom: 0;"
      layout="column">
      <md-card layout="row" layout-align="space-between center">
        <h3 style="padding: 5px; margin: 0;">Results:</h3>

        <div>Here</div>
        <ate-tfe-class mc="c" ng-repeat="c in home.methods.list"></ate-tfe-class>
        <span>Idle</span>
        <md-button style="font-size: 24px;"
                   class="md-warn"
                   ng-click="home.cleanHistory()">
          <md-icon class="mdi mdi-delete-variant"></md-icon>
        </md-button>
      </md-card>
    </md-content>
    <md-content flex
                ng-if="home.executionResults.length > 0">
      <div layout="column">
        <md-card style="padding: 5px;"
                 ng-repeat="result in home.executionResults | orderBy : '-time'"
                 flex layout-padding
                 class="md-whiteframe-z1">
          <div layout="row" layout-align="end start">
            <i style="font-size: 12px;">
              {{ result.time | date: "dd/MMM/yyyy HH:mm:ss" }}
              <i ng-click="home.execute(result.data.exec_info)"
                 layout="row"
                 layout-align="center center"
                 style="font-size: 12px;"
                 class="mdi mdi-repeat md-primary">
              </i>
            </i>
          </div>
          <div layout="column">
            <div flex>
              <div layout="row">
                <span style="margin-top: 0; font-size: 13px;">
                  {{ result.data.exec_info.name }}
                  <i>(</i>
                  <i ng-repeat="param in result.data.exec_info.params"
                     style="font-size: 13px; font-weight: lighter; color: indigo">
                    {{ param.logic_name + '=' + ((param.value == null) ? 'None' : param.value) }}
                    <i ng-if="$index < (result.data.exec_info.params.length - 1)">, </i>
                  </i>
                  <i>)</i>
                </span>
              </div>
            </div>
            <div flex>
              <pre style="white-space: pre-wrap; font-weight: normal; font-size: 12px; margin-top: 0; margin-bottom: 0;"
                   ng-if="result.data.result">{{ result.data.result | json }}</pre>
              <pre style="white-space: pre-line; font-weight: normal; font-size: 12px; color: #c60f0f; margin: 0;"
                   ng-if="result.data.error">Error: {{ result.data.error }}</pre>
              <pre style="white-space: pre-line; font-weight: normal; font-size: 12px; color: #20435c; margin: 0;"
                   ng-if="result.data.debug">Debug: {{ result.data.debug }}</pre>
            </div>
          </div>
          <div layout="row" layout-align="end start">
            <pre style="font-size: 10px; margin: 2px;">Execution time: {{ result.data.realtime * 1000 }}ms</pre>
          </div>
          <hr width="85%" size="0.5" color="#CCCCCC">
        </md-card>
      </div>
    </md-content>
  </md-content>


</section>