
<section layout="row">
  <md-button class="md-icon-button md-fab md-mini md-primary" style="font-size:24px;"
             aria-label="Help">
    <md-icon class="mdi mdi-help-circle">

    </md-icon>
    <md-tooltip>
      A vocabulary, a set of words and meanings/translation
    </md-tooltip>
  </md-button>
  <h4 flex>Vocabulary</h4>
</section>


<div layout="row" ng-repeat="item in exercise.items">
  <md-input-container flex>
    <label>Term</label>
    <input ng-model="item.term">
  </md-input-container>
  <md-input-container flex>
    <label>Translation</label>
    <input ng-model="item.translation">
  </md-input-container>
</div>

<md-button ng-click="addItem()">Add</md-button>
