<h3>Lesson: {{lesson.title}}</h3>


<ul class="pagination">
  <li title="{{exercise.name}}" ng-class="{active:$index == exid - 1}"
      ng-repeat="exercise in lesson.exercises track by $index">
    <a ng-click="setCurrentExercise($index)" href="" >{{$index + 1}}</a>
  </li>
</ul>

<div class="well">

  <preview-complete ng-if="exercise.type=='complete'" exercise="exercise"></preview-complete>
  <preview-match ng-if="exercise.type=='match'" exercise="exercise"></preview-match>
  <preview-mix ng-if="exercise.type=='mix'" exercise="exercise"></preview-mix>
  <preview-text ng-if="exercise.type=='text'"></preview-text>
  <preview-question ng-if="exercise.type=='question'" exercise="exercise"></preview-question>
  <preview-vocabulary ng-if="exercise.type=='vocabulary'" exercise="exercise"></preview-vocabulary>
  <preview-video ng-if="exercise.type=='video'" exercise="exercise"></preview-video>
</div>

<div class="btn-group">
    <button ng-click="prevExercise()" class="btn btn-info">Prev</button>
    <button ng-click="nextExercise()" class="btn btn-info">Next</button>
 </div>

<div>
<rating ng-model="x" max="5"></rating>
<rating ng-model="x" max="5" state-on="'glyphicon-star'" state-off="'glyphicon-star-empty'"></rating>
</div>
<div>Debug</div>
<div>{{exercise}}</div>
<div>{{lesson}}</div>

