<h3 ng-if="lesson.title">{{lesson.title}}</h3>
<h3 ng-if="!lesson.title" translate>Create Lessson</h3>
<div ng-if="error" class="alert alert-danger">{{error}}</div>

<div class="well">
  <table>
    <thead>
    <tr>
      <td class="col-md-3">Lesson Name</td>
      <td>Language</td>
      <td>Explanation Language</td>
      <td>Tags</td>
      <td></td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <input ng-model="lesson.title" class="form-control" id="title" placeholder="Enter lesson title">
      </td>
      <td>
        <select id="language" ng-model="lesson.language" class="form-control">
          <option value="language._id" ng-repeat="language in languages">{{language.name}}</option>
        </select>

      </td>
      <td>
        <select id="explanation_language" ng-model="lesson.explanation_language" class="form-control">
          <option value="language._id" ng-repeat="language in languages">{{language.name}}</option>
        </select>
      </td>
      <td>
        <tags-input placeholder="Add Lesson Tags" id="tags" onTagAdded="addTag($tag)" ng-model="lesson.tags">
          <auto-complete source="loadTags($query)"></auto-complete>
        </tags-input>
      </td>
      <td>
        <a href="#/help"><i class="glyphicon glyphicon-question-sign"> </i><span translate>Help</span></a>
      </td>
    </tr>
    </tbody>
  </table>
</div>


<table class="table">
  <thead>
  <tr>
    <td class="col-md-6" translate>Edit</td>
    <td class="col-md-5" translate>Preview</td>
    <td class="col-md-1" translate>Action</td>
    <td class="col-md-1" translate>Help</td>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="exercise in lesson.exercises track by $index">
    <td>
      <edit-complete ng-if="exercise.type=='complete'" exercise="exercise"></edit-complete>
      <edit-match ng-if="exercise.type=='match'" exercise="exercise"></edit-match>
      <edit-mix ng-if="exercise.type=='mix'" exercise="exercise"></edit-mix>
      <edit-text ng-if="exercise.type=='text'"></edit-text>
      <edit-question ng-if="exercise.type=='question'" exercise="exercise"></edit-question>
      <edit-vocabulary ng-if="exercise.type=='vocabulary'" exercise="exercise"></edit-vocabulary>
      <edit-video ng-if="exercise.type=='video'" exercise="exercise"></edit-video>
    </td>
    <td>
      <preview-complete ng-if="exercise.type=='complete'" exercise="exercise"></preview-complete>
      <preview-match ng-if="exercise.type=='match'" exercise=" exercise"></preview-match>
      <preview-mix ng-if="exercise.type=='mix'" exercise="exercise"></preview-mix>
      <preview-text ng-if="exercise.type=='text'"></preview-text>
      <preview-question ng-if="exercise.type=='question'" exercise="exercise"></preview-question>
      <preview-vocabulary ng-if="exercise.type=='vocabulary'" exercise="exercise"></preview-vocabulary>
      <preview-video ng-if="exercise.type=='video'" exercise="exercise"></preview-video>
      <div ng-if="exerciseResults[$index].correct==-1" class="alert alert-warning">Wrong choice</div>
      <div ng-if="exerciseResults[$index].correct==1" class="alert alert-success">Correct</div>
    </td>
    <td>
      <button ng-click="deleteExercise($index)">Del</button>
    </td>
<td>
  <a href="/help" ><i class="glyphicon glyphicon-question-sign"> </i><span translate>Help</span></a>
</td>
</tr>
  </tbody>
</table>
<div class="btn-group">
  <button type="button" class="btn btn-default" ng-click="addExercise('complete')">Add Complete</button>
  <button type="button" class="btn btn-default" ng-click="addExercise('match')">Add Match</button>
  <button type="button" class="btn btn-default" ng-click="addExercise('mix')">Add Mix</button>
  <button type="button" class="btn btn-default" ng-click="addExercise('text')">Add Text</button>
  <button type="button" class="btn btn-default" ng-click="addExercise('question')">Add Question</button>
  <button type="button" class="btn btn-default" ng-click="addExercise('vocabulary')">Add Vocabulary</button>
  <button type="button" class="btn btn-default" ng-click="addExercise('video')">Add Video</button>
</div>

<div class="well">
  <button ng-click="save()" type="submit" class="btn btn-info">Save</button>
</div>