<h3>{{lesson.title}}</h3>
<div ng-if="error" class="alert alert-danger">{{error}}</div>
<div class="well">

  <!--
  <form role="form" class="form-inline">
    <div class="form-group">
      <label class="sr-only"  for="title">Title</label>
      <input ng-model="lesson.title" class="form-control" id="title" placeholder="Enter lesson title">
    </div>
    <div class="form-group">
      <label class="sr-only"  for="language">Language</label>
      <select id="language" ng-model="lesson.language" class="form-control">
        <option value="language._id" ng-repeat="language in languages">{{language.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label class="sr-only" for="explanation_language">Explanation Language</label>
      <select id="explanation_language" ng-model="lesson.explanation_language" class="form-control">
        <option value="" disabled selected >Explanation Language</option>
        <option value="language._id" ng-repeat="language in languages">{{language.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <tags-input placeholder="Add Lesson Tags" id="tags" onTagAdded="addTag($tag)" ng-model="lesson.tags">
      <auto-complete  source="loadTags($query)"></auto-complete>
    </tags-input>
    </div>

  </form>
  -->
  <table>
    <thead>
    <tr>
      <td class="col-md-3">Lesson Name</td>
      <td>Language</td>
      <td>Explanation Language</td>
      <td>Tags</td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <input ng-model="lesson.title" class="form-control" id="title" placeholder="Enter lesson title">
      </td>
      <td>
        <select id="language" ng-model="lesson.language" class="form-control">
          <option value="language._id" ng-repeat="language in languages">{{language.name}}</option>
        </select>

      </td>
      <td>
        <select id="explanation_language" ng-model="lesson.explanation_language" class="form-control">
          <option value="language._id" ng-repeat="language in languages">{{language.name}}</option>
        </select>
      </td>
      <td>
        <tags-input placeholder="Add Lesson Tags" id="tags" onTagAdded="addTag($tag)" ng-model="lesson.tags">
          <auto-complete source="loadTags($query)"></auto-complete>
        </tags-input>
      </td>
    </tr>
    </tbody>
  </table>
</div>


<table class="table">
  <thead>
  <tr>
    <td class="col-md-6">Edit</td>
    <td class="col-md-6">Preview</td>
  </tr>
  </thead>
  <tr ng-repeat="exercise in lesson.exercises">
    <td ng-if="exercise.type=='complete' ">
      <edit-complete exercise="exercise"></edit-complete>
    </td>
    <td ng-if="exercise.type=='complete' ">
      <preview-complete exercise="exercise"></preview-complete>
    </td>
    <td ng-if="exercise.type=='match' ">
      <edit-match exercise="exercise"></edit-match>
    </td>
    <td ng-if="exercise.type=='match' ">
      <preview-match exercise="exercise"></preview-match>
    </td>

    <td ng-if="exercise.type=='mix' ">
      <edit-mix exercise="exercise"></edit-mix>
    </td>
    <td ng-if="exercise.type=='mix' ">
      <preview-mix exercise="exercise"></preview-mix>
    </td>

    <td ng-if="exercise.type=='text' ">
      <edit-text></edit-text>
    </td>
    <td ng-if="exercise.type=='text' ">
      <preview-text></preview-text>
    </td>

    <td ng-if="exercise.type=='question' ">
      <edit-question exercise="exercise"></edit-question>
    </td>
    <td ng-if="exercise.type=='question' ">
      <preview-question exercise="exercise"></preview-question>
    </td>

    <td ng-if="exercise.type=='vocabulary' ">
      <edit-vocabulary exercise="exercise"></edit-vocabulary>
    </td>
    <td ng-if="exercise.type=='vocabulary' ">
      <preview-vocabulary exercise="exercise"></preview-vocabulary>
    </td>

    <td ng-if="exercise.type=='video' ">
      <edit-video exercise="exercise"></edit-video>
    </td>
    <td ng-if="exercise.type=='video' ">
      <preview-video exercise="exercise"></preview-video>
    </td>

  </tr>
</table>
<div class="btn-group">
  <button type="button" class="btn btn-default" ng-click="addExercise('complete')">Add Complete</button>
  <button type="button" class="btn btn-default" ng-click="addExercise('match')">Add Match</button>
  <button type="button" class="btn btn-default" ng-click="addExercise('mix')">Add Mix</button>
  <button type="button" class="btn btn-default" ng-click="addExercise('text')">Add Text</button>
  <button type="button" class="btn btn-default" ng-click="addExercise('question')">Add Question</button>
  <button type="button" class="btn btn-default" ng-click="addExercise('vocabulary')">Add Vocabulary</button>
  <button type="button" class="btn btn-default" ng-click="addExercise('video')">Add Video</button>
</div>

<div class="well">
  <button ng-click="save()" type="submit" class="btn btn-info">Save</button>
</div>


<div>{{lesson}}</div>
