<h3>{{lesson.title}}</h3>
<div ng-if="error" class="alert alert-danger">{{error}}</div>
<form role="form" class="form-inline">
  <div class="form-group">
    <label for="title">Title</label>
    <input ng-model="lesson.title" class="form-control" id="title" placeholder="Enter lesson title">
  </div>
  <div class="form-group">
    <label for="language">Language</label>
    <select id="language" ng-model="lesson.language" class="form-control">
      <option value="language._id" ng-repeat="language in languages">{{language.name}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="explanation_language">Explanation Language</label>
    <select id="explanation_language" ng-model="lesson.explanation_language" class="form-control">
      <option value="language._id" ng-repeat="language in languages">{{language.name}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" ng-model="lesson.description"></textarea>
  </div>
</form>
    <div>{{lesson}}</div>
<table class="table">
  <thead>
  <tr>
    <td>Edit/Preview</td>
    <td>Exercise</td>
  </tr>
  </thead>
  <tr ng-repeat="exercise in lesson.exercises">
    <td>
      <button ng-if="!exercise.editState" ng-click="exercise.editState = true;">Edit</button>
      <button ng-if="exercise.editState" ng-click="exercise.editState = false;">Preview</button>
    </td>
    <td>
      <edit-complete ng-if="exercise.type=='complete' "
                     exercise="exercise"></edit-complete>
      <preview-complete ng-if="exercise.type=='complete'"
                     exercise="exercise"></preview-complete>

      <edit-match ng-if="exercise.type=='match'" exercise="exercise"></edit-match>
      <preview-match ng-if="exercise.type=='match'" exercise="exercise"></preview-match>


      <edit-mix ng-if="exercise.type=='mix'" exercise="exercise"></edit-mix>

      <edit-text ng-if="exercise.type=='text' && exercise.editState"></edit-text>
      <preview-text ng-if="exercise.type=='text' && !exercise.editState "></preview-text>

      <edit-question ng-if="exercise.type=='question'" exercise="exercise"></edit-question>
      <edit-vocabulary ng-if="exercise.type=='vocabulary'" exercise="exercise"></edit-vocabulary>
    </td>

  </tr>
</table>
<div class="btn-group">
  <button type="button" class="btn btn-default" ng-click="addExercise('complete')">Add Complete</button>
  <button type="button" class="btn btn-default" ng-click="addExercise('match')">Add Match</button>
  <button type="button" class="btn btn-default" ng-click="addExercise('mix')">Add Mix</button>
  <button type="button" class="btn btn-default" ng-click="addExercise('text')">Add Text</button>
  <button type="button" class="btn btn-default" ng-click="addExercise('question')">Add Question</button>
  <button type="button" class="btn btn-default" ng-click="addExercise('vocabulary')">Add Vocabulary</button>
</div>

<div class="well">
  <button ng-click="save()" type="submit" class="btn btn-info">Save</button>
</div>
