<div class="col-md-4 col-md-offset-4">
  <div class="login-panel panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Login</h3>
    </div>
    <div class="panel-body">
      <div ng-if="error" class="alert alert-danger" >{{error}}</div>
      <form role="form">
        <fieldset>
          <div class="form-group">
            <input class="form-control" ng-model="username" placeholder="Username" name="username" autofocus="">
          </div>
          <div class="form-group">
            <input class="form-control" ng-model="password" placeholder="Password" name="password" type="password" value="">
          </div>
          <!-- Change this to a button or input when using this as a form -->
          <input type="submit" ng-click="login()" value="Login" class="btn btn-lg btn-success btn-block" />
        </fieldset>
      </form>
    </div>
  </div>
</div>
