<section>
  <md-card>
    <md-card-content layout="row">
      <md-input-container flex="25">
        <label>Lesson Name</label>
        <input ng-model="edit.lesson.name">
      </md-input-container>
      <md-input-container flex="25">
        <label>Language</label>
        <input ng-model="edit.lesson.name">
      </md-input-container>
      <md-input-container flex="25">
        <label>Comment</label>
        <input ng-model="edit.lesson.name">
      </md-input-container>
    </md-card-content>
  </md-card>
</section>

<section layout="row">
  <md-card flex="25">
    <md-card-content>
      <md-list>
        <md-header>Exercises</md-header>
        <md-list-item ng-repeat="item in edit.exercises">
          <md-button class="md-icon-button md-fab md-mini" style="font-size:24px;"
                     ng-click="edit.deleteExercise($index)"
                     aria-label="Delete">
            <md-icon class="mdi mdi-delete" ></md-icon>
          </md-button>
          <md-button ng-disabled="$last" ng-click="edit.moveDown($index)"
                     style="font-size:24px;"
                     class="md-icon-button md-fab md-mini md-primary md-hue-3" aria-label="Move Down">
            <md-icon class="mdi mdi-chevron-down"></md-icon>
          </md-button>
          <md-button ng-disabled="$first" ng-click="edit.moveUp($index)"
                     class="md-icon-button md-fab md-mini md-primary  md-hue-3"
                     style="font-size:24px;"
                     aria-label="Move Up" >
            <md-icon class="mdi mdi-chevron-up"></md-icon>
          </md-button>
          <md-button ng-click="edit.selectExercise($index)">
             <md-icon  class="mdi" style="font-size:24px;" ng-class="edit.getExerciseClass(item)" ></md-icon>
            {{ item.name }}
          </md-button>
        </md-list-item>
      </md-list>
      <h5>Add Exercise</h5>
      <section layout="row">
        <md-button ng-repeat="e in edit.exerciseTypes" ng-click="edit.addExercise(e)"
                   class="md-icon-button md-fab md-mini md-primary" style="font-size:24px;">
          <md-icon class="mdi" ng-class="edit.getClass(e)" aria-label="{{e.etype}}"></md-icon>
          <md-tooltip>{{e.etype}}</md-tooltip>
        </md-button>
      </section>
    </md-card-content>
  </md-card>
  <md-card flex="35">
    <md-card-content>
      {{edit.selectedExercise.name}}
      <sl-edit-vocabulary exercise="edit.selectedExercise" ng-if="edit.selectedExercise.etype=='vocabulary'"></sl-edit-vocabulary>
      <sl-edit-text exercise="edit.selectedExercise" ng-if="edit.selectedExercise.etype=='text'"></sl-edit-text>
      <sl-edit-question exercise="edit.selectedExercise" ng-if="edit.selectedExercise.etype=='question'"></sl-edit-question>
      <sl-edit-mix exercise="edit.selectedExercise" ng-if="edit.selectedExercise.etype=='mix'"></sl-edit-mix>
      <sl-edit-complete exercise="edit.selectedExercise" ng-if="edit.selectedExercise.etype=='complete'"></sl-edit-complete>


    </md-card-content>
  </md-card>
  <md-card flex="35">
    <md-card-content>
      <h5>Preview</h5>
      <sl-preview-vocabulary exercise="edit.selectedExercise" ng-if="edit.selectedExercise.etype=='vocabulary'"></sl-preview-vocabulary>
      <sl-preview-text exercise="edit.selectedExercise" ng-if="edit.selectedExercise.etype=='text'"></sl-preview-text>
      <sl-preview-question exercise="edit.selectedExercise" ng-if="edit.selectedExercise.etype=='question'"></sl-preview-question>
      <sl-preview-mix exercise="edit.selectedExercise" ng-if="edit.selectedExercise.etype=='mix'"></sl-preview-mix>
      <sl-preview-complete exercise="edit.selectedExercise" ng-if="edit.selectedExercise.etype=='complete'"></sl-preview-complete>
    </md-card-content>
  </md-card>
</section>