<section layout="row">
  <md-card flex="25">
    <md-card-content>
      <md-list>
        <md-header>Lessons</md-header>
        <md-input-container>
          <label>Search</label>
          <input ng-model="lesson.q">
        </md-input-container>
        <md-list-item ng-repeat="l in lesson.lessons| filter:lesson.q" ng-click="lesson.selectLesson($index)">
          {{ l.name }}
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
  <md-card flex>
    <md-card-content>
      <h1>Learn Area</h1>
      {{lesson.selectedLesson.name}}
    </md-card-content>
  </md-card>
</section>