<h3 ng-if="lesson.title">{{lesson.title}}</h3>
<h3 ng-if="!lesson.title" translate>Create Lessson</h3>
<div ng-if="error" class="alert alert-danger">{{error}}</div>
{{profile}}
<div class="well">
  <table>
    <thead>
    <tr>
      <td class="col-md-3">Lesson Name</td>
      <td>Language</td>
      <td>Explanation Language</td>
      <td>Tags</td>
      <td></td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <input ng-model="add.lesson.title" class="form-control" id="title" placeholder="Enter lesson title">
      </td>
      <td>
        <select ng-change="add.setEditLang()"
                id="language"
                ng-model="add.lesson.language"
                class="form-control"
            ng-options="l._id as l.name for l in add.languages">
        </select>
      </td>
      <td>
        <select ng-change="add.setEditExpLang()"
                id="explanation_language"
                ng-model="add.lesson.explanation_language"
                class="form-control"
              ng-options="l._id as l.name for l in add.languages">
        </select>
      </td>
      <td>
        <tags-input placeholder="Add Lesson Tags"
                    id="tags" onTagAdded="add.addTag($tag)"
                    ng-model="add.lesson.tags">
          <auto-complete source="add.loadTags($query)"></auto-complete>
        </tags-input>
      </td>
      <td>
        <a href="#/help"><i class="glyphicon glyphicon-question-sign"> </i><span translate>Help</span></a>
      </td>
    </tr>
    </tbody>
  </table>
</div>


<div class="well">
  <button ng-click="save()" type="submit" class="btn btn-info">Save</button>
</div>