<md-content style="overflow: visible;" ng-controller="MenuController as menu">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Settings" ng-click="menu.openLeftMenu()">
        <i class="mdi mdi-menu" style="font-size: 24px;"></i>
      </md-button>
      <a href='#/home' class="md-button" aria-label="Profile">
        <h2>
          <span>Test fixture: 192.168.2.220</span>
        </h2>
      </a>
      <a href='#/home' class="md-button" aria-label="Profile">Home</a>
      <a ng-if="menu.hasPermission('profile')" href='#/profile' class="md-button" aria-label="Profile">Profile</a>
      <a ng-if="menu.hasPermission('group')" href='#/group' class="md-button" aria-label="Group">Group</a>
      <a ng-if="menu.hasPermission('monitor')" href='#/monitor' class="md-button" aria-label="Monitor">Monitor</a>
      <a ng-if="menu.hasPermission('admin')" href='#/admin' class="md-button" aria-label="Admin">Admin</a>
      <a href="#" ng-click="menu.logout()" class="md-button" aria-label="Logout">Logout</a>

      <span flex></span>
      <md-button class="md-icon-button" aria-label="Settings" ng-click="menu.openRightMenu()">
        <i class="mdi mdi-dots-vertical" style="font-size: 24px;"></i>
      </md-button>
    </div>
  </md-toolbar>
</md-content>
