<md-content style="overflow: visible;" ng-controller="MenuController as menu">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Settings" ng-click="menu.openLeftMenu()">
        <i class="mdi mdi-menu" style="font-size: 24px;"></i>
      </md-button>

      <a href='#/home' class="md-button" aria-label="Profile">Home</a>
      <a ng-if="menu.hasPermission('lesson')" href='#/lesson' class="md-button" aria-label="Lesson">Lesson</a>
      <a ng-if="menu.hasPermission('practice')" href='#/practice' class="md-button" aria-label="Practice">Practice</a>
      <a ng-if="menu.hasPermission('profile')" href='#/profile' class="md-button" aria-label="Profile">Profile</a>
      <a ng-if="menu.hasPermission('editor')" href='#/editor' class="md-button" aria-label="Editor">Editor</a>
      <a href="#" ng-click="menu.logout()" class="md-button" aria-label="Logout">Logout</a>

      <span flex></span>
      <md-button class="md-icon-button" aria-label="Settings" ng-click="menu.openRightMenu()">
        <i class="mdi mdi-dots-vertical" style="font-size: 24px;"></i>
      </md-button>
    </div>
  </md-toolbar>
</md-content>
