<h3 ng-if="lesson.title">{{lesson.title}}</h3>
<h3 ng-if="!lesson.title" translate>Create Lessson</h3>
<div ng-if="error" class="alert alert-danger">{{error}}</div>

<div>{{add.profile}}</div>
<div>{{add.lesson}}</div>
<div>{{add.exercises}}</div>


<div class="well">
  <table>
    <thead>
    <tr>
      <td class="col-md-3">Lesson Name</td>
      <td>Language</td>
      <td>Explanation Language</td>
      <td>Tags</td>
      <td></td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <input ng-model="add.lesson.title" class="form-control" id="title" placeholder="Enter lesson title">
      </td>
      <td>
        <select ng-change="add.setEditLang()"
                id="language"
                ng-model="add.lesson.language"
                class="form-control"
                ng-options="l._id as l.name for l in add.languages">
        </select>
      </td>
      <td>
        <select ng-change="add.setEditExpLang()"
                id="explanation_language"

                ng-model="add.lesson.explanation_language"
                class="form-control"
                ng-options="l._id as l.name for l in add.languages">
        </select>
      </td>
      <td>
        <tags-input placeholder="Add Lesson Tags"
                    id="tags"
                    ng-model="add.lesson.tags"
                    on-tag-added="add.addTag($tag)">
          <auto-complete
              source="add.loadTags($query)"
              ></auto-complete>
        </tags-input>
      </td>
      <td>
        <a ng-click="add.help('create_lesson')"><i class="glyphicon glyphicon-question-sign"> </i><span translate>Help</span></a>
      </td>
    </tr>
    </tbody>
  </table>
</div>


<h4>Exercises</h4>
<table class="table">
  <thead>
  <tr>
    <td class="col-md-6" translate>Edit</td>
    <td class="col-md-5" translate>Preview</td>
    <td class="col-md-1" translate>Action</td>
    <td class="col-md-1" translate>Help</td>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="exercise in add.exercises track by $index">
    <td>
      <sl-edit-complete ng-if="exercise.type=='complete'" exercise="exercise"></sl-edit-complete>
      <sl-edit-match ng-if="exercise.type=='match'" exercise="exercise"></sl-edit-match>
      <sl-edit-mix ng-if="exercise.type=='mix'" exercise="exercise"></sl-edit-mix>
      <sl-edit-text ng-if="exercise.type=='text'"></sl-edit-text>
      <sl-edit-question ng-if="exercise.type=='question'" exercise="exercise"></sl-edit-question>
      <sl-edit-vocabulary ng-if="exercise.type=='vocabulary'" exercise="exercise"></sl-edit-vocabulary>
      <sl-edit-video ng-if="exercise.type=='video'" exercise="exercise"></sl-edit-video>
    </td>
    <td>
      <sl-preview-complete ng-if="exercise.type=='complete'" exercise="exercise"></sl-preview-complete>
      <sl-preview-match ng-if="exercise.type=='match'" exercise=" exercise"></sl-preview-match>
      <sl-preview-mix ng-if="exercise.type=='mix'" exercise="exercise"></sl-preview-mix>
      <sl-preview-text ng-if="exercise.type=='text'"></sl-preview-text>
      <sl-preview-question ng-if="exercise.type=='question'" exercise="exercise"></sl-preview-question>
      <sl-preview-vocabulary ng-if="exercise.type=='vocabulary'" exercise="exercise"></sl-preview-vocabulary>
      <sl-preview-video ng-if="exercise.type=='video'" exercise="exercise"></sl-preview-video>
      <div ng-if="exerciseResults[$index].correct==-1" class="alert alert-warning">Wrong choice</div>
      <div ng-if="exerciseResults[$index].correct==1" class="alert alert-success">Correct</div>
    </td>
    <td>
      <button ng-click="deleteExercise($index)">Del</button>
    </td>
    <td>
      <a ng-click="add.exerciseHelp(exercise.type)"><i class="glyphicon glyphicon-question-sign"> </i><span translate>Help</span></a>
    </td>
  </tr>
  </tbody>
</table>

<div class="btn-group">
  <button type="button" class="btn btn-default" ng-click="add.addExercise('complete')">Add Complete</button>
  <button type="button" class="btn btn-default" ng-click="add.addExercise('match')">Add Match</button>
  <button type="button" class="btn btn-default" ng-click="add.addExercise('mix')">Add Mix</button>
  <button type="button" class="btn btn-default" ng-click="add.addExercise('text')">Add Text</button>
  <button type="button" class="btn btn-default" ng-click="add.addExercise('question')">Add Question</button>
  <button type="button" class="btn btn-default" ng-click="add.addExercise('vocabulary')">Add Vocabulary</button>
  <button type="button" class="btn btn-default" ng-click="add.addExercise('video')">Add Video</button>
</div>


<div class="well">
  <button ng-click="add.saveLesson()" type="submit" class="btn btn-info">Save</button>
</div>